<% if @document.errors.any? %>
  <% @document.errors.full_messages.each do |error| %>
    <div class="error-msg alert alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= error %>
    </div>
  <% end %>
<% end %>