<div class="docstitle">
  <h2>Subjects</h2>
</div>

<div class="subjects">
  <% @subjects.each do |subject| %>
    <div class = "subjectname">
      <p><%= link_to subject.name, documents_path(subject:subject.id) %></p>
    </div>
  <% end %>
</div>  
