<div class="confirmed">
  <h1> You're good to go! </h1><br>
  <p>Thank you for your payment</p>
</div>

<div class="viewprofile">
  <%= button_to "View my profile", profile_path, :method => :get %>
</div>