.abouthead {
    padding: 2% 0% 2% 0%;
    text-align: center;
    font-size: 59px;
    letter-spacing: 23px;
    color: #404443;
  }
  
  .about {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
  }
  
  .abouttext {
    padding: 2%;
    width: 26%;
    background-color: floralwhite;
    border-radius: 4%;
  }
  
  img.logo {
    height: 300px;
    border-radius: 20%;
    padding: 2% 4% 4% 4%;
  }
  
  