/*DOCSHOW*/

h5 {
    padding-bottom: 1%;
    font-style: oblique;
}

.booksample {
    height: 600px;
    width: 300px;
}

.docshow {
    text-align: center;
    margin: 40px 7% 120px;
}

.bookmark {
    text-align: right;
    margin-bottom: 20px;
}



.documentinfo {
    background-color: #d4cfcf;
    padding: 8%;
    padding-top: 20px;
    margin: -4% 25% 25% 25%;
    border-radius: 3%;

    .info-inner {
        margin-bottom: 35px;
    }

    .comments {
        margin-top: 60px;

        label {
            display: block;
        }

        textarea {
            height: 100px;
            width: 80%;
            border-radius: 2px;
            border-color: white;
        }

        input {
            font-size: 13px;
        }

        form {
            margin-top: 40px;
        }

        h4 {
            margin-bottom: 20px;
        }

        li:first-child {
            padding-bottom: 5px;
            font-weight: bolder;
        }
        li:not(:first-child) {
            padding-top: 2px;
            padding-left: 8px;
            font-size: 12px;
        }
        li:nth-child(3) {
            font-style: italic;
            font-size: 11px;
        }
        li:last-child {
            padding-bottom: 5px;
        }

        ul {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding-left: 10px;
            margin-bottom: 15px;
            list-style: none;
        }
    }
}

.links {
    padding: 1%;
    text-align: center;
}

.link ul {
    display: inline;
}

.links li {
    color: #404443;
    font-style: oblique;
    padding: 9%;
    list-style: none;
    text-decoration: underline;
}


/*DOCSINDEX*/

.docstitle {
    text-align: center;
    font-size: 70px;
    letter-spacing: 22px;
    margin-top: 160px;
    color: #E8B80B;
    padding: 4%;
}

.searchbar {
    margin-top: 5%;
}


.listings {
    background-color: #d4cfcf;
    padding: 3%;
    margin: 10%;
}

.listings h3 {
    font-style: oblique;
}

.doctitle {
    padding-bottom: 1%;
}

.docdescribe {
    padding-bottom: 1%;
}

.docsubject {
    padding-bottom: 1%;
} 

.doctype {
    padding-bottom: 1%;
}

.docrating {
    padding-bottom: 1%;
}

.doclinks {
    padding: 1%;
    text-align: center;
}

.doclinks li {
    color: #404443;
    font-style: oblique;
    padding: 9%;
    list-style: none;
    display: inline;
    text-decoration: underline;
}

/*UPLOAD STYLES*/

.uploadflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.upload {
    display: inline-grid;
    background-color: #d4cfcf;
    padding: 8%;
    border-radius: 8%;
    font-size: 19px;

    button {
        margin-top: 40px;
    }
}

.uploadform{
    padding: 5%;


    textarea {
        border: none;
        width: 400px;
        height: 150px;
        border-radius: 4px;
    }

    label {
        display: block;
        margin-left: 5px; 
    }
    .checkbox-inline{
        display: inline-block;
        margin-left: 10px;
    }
    .file-upload {
        font-size: 14px;
        p {
            margin: 5px;
        }
    }

}

.doctype {
    display: inline-flex;

}

.titleform {
    background-color: #ffffff;
    border: #000000;
    width: 300px;
    border-radius: 4px;
}



/*EDIT*/


.row {
    padding: 5%;

}

.docs {
    background-color: #d4cfcf;
    border-radius: 2%;
}
.button {
    font-size: x-large;
    border-radius: 2%;
}
    