/*DOCSHOW*/

h5 {
    padding-bottom: 1%;
    font-style: oblique;
}

.booksample {
    height: 600px;
    width: 300px;
}

.docshow {
    text-align: center;
    margin: 7.7% 7%;
}

.bookmark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -3%;
    margin-left: 27%;
}



.documentinfo {
    background-color: #d4cfcf;
    padding: 8%;
    margin: -4% 25% 25% 25%;
    border-radius: 3%;
}

.links {
    padding: 1%;
    text-align: center;
}

.link ul {
    display: inline;
}

.links li {
    color: #404443;
    font-style: oblique;
    padding: 9%;
    list-style: none;
    text-decoration: underline;
}


/*DOCSINDEX*/

.docstitle {
    text-align: center;
    font-size: 70px;
    letter-spacing: 22px;
    margin-top: 9%;
    color: #E8B80B;
    padding: 4%;
}

.searchbar {
    margin-top: 5%;
}


.listings {
    background-color: #d4cfcf;
    padding: 3%;
    margin: 10%;
}

.listings h3 {
    font-style: oblique;
}

.doctitle {
    padding-bottom: 1%;
}

.docdescribe {
    padding-bottom: 1%;
}

.docsubject {
    padding-bottom: 1%;
} 

.doctype {
    padding-bottom: 1%;
}

.docrating {
    padding-bottom: 1%;
}

.doclinks {
    padding: 1%;
    text-align: center;
}

.doclinks li {
    color: #404443;
    font-style: oblique;
    padding: 9%;
    list-style: none;
    display: inline;
    text-decoration: underline;
}

/*SUBJECTS*/
.subjects {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;

    .subjectname {
        background-color: #d4cfcf;
        width: 300px;
        height: 200px;
        margin: 20px;

        p {
            font-size: 45px;
            padding-top: 35px;
            text-align: center;
        }
    }
}

/*UPLOAD STYLES*/

.uploadflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.upload {
    display: inline-grid;
    background-color: #d4cfcf;
    padding: 8%;
    border-radius: 8%;
    font-size: 19px;
    }

.uploadform{
    padding: 5%;
}

.doctype {
    display: inline-flex;

}

.titleform {
    background-color: #ffffff;
    border: #000000;
}

#uploadbutton {
    
}

/*EDIT*/


.row {
    padding: 5%;

}

.docs {
    background-color: #d4cfcf;
    border-radius: 2%;
}
.button {
    font-size: x-large;
    border-radius: 2%;
}
    