.docstitle {
    text-align: center;
    font-size: 50px;
    letter-spacing: 22px;
    margin-top: 9%;
    color: #404443;
    padding: 4%;
}

.searchbar {
    margin-top: 5%;
}


.listings {
    background-color: #d4cfcf;
    padding: 3%;
    margin: 10%;
}

.listings h3 {
    font-style: oblique;
}

.doctitle {
    padding-bottom: 1%;
}

.docdescribe {
    padding-bottom: 1%;
}

.docsubject {
    padding-bottom: 1%;
} 

.doctype {
    padding-bottom: 1%;
}

.docrating {
    padding-bottom: 1%;
}

.doclinks {
    padding: 1%;
    text-align: center;
}

.doclinks li {
    color: #404443;
    font-style: oblique;
    padding: 9%;
    list-style: none;
    display: inline;
    text-decoration: underline;
}

.subjects {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;

    .subjectname {
        background-color: #d4cfcf;
        width: 300px;
        height: 200px;
        margin: 20px;

        p {
            font-size: 45px;
            padding-top: 35px;
            text-align: center;
        }
    }
}