body {
    max-width: 1400px;
    margin: 0 auto;
    color: #404443;
    background-color: #b9b7b7;
    font-family: 'Exo', sans-serif;
    background: asset_url("new.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}


/*TITLE ANIMATION*/


/* title styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color: 	#CDCDCB;
}

h1 {
    text-align: center;
    font-size: 59px;
    letter-spacing: 23px;
    margin-top: 7%;
    color: #404443;
}

#linetwo {
    text-align: center;
    font-size: 30px;
    letter-spacing: 23px;
    margin-top: -5%;
    color: #404443;
}

.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(214, 214, 212);
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.search {
    padding-top: 50%;
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #000000;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #000000;
    background: #000000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 40%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.subjectgrid {
    margin-top: 36%;   
}

.subjectline {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subjectone {
  font-size: 24px;
  margin: 3%;
}

.subjecttwo {
  font-size: 24px;
  margin: 3%;
}

.subjectthree {
  font-size: 24px;
  margin: 3%;
}

.bottomnav {
  text-align: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: none;
}

.bottomnav ul {
  display: inline-flex;
}

.bottomnav li {
  display: inline;
  margin-right: 40px;
  padding: 5px;
}

.footer {
  text-align: center;
}