.h1 {
    margin-top: 8%;
    text-align: center;
    font-size: 54px;
    letter-spacing: 23px;
}

.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form {
  display: inline-grid;
  background-color: #d4cfcf;
  padding: 8%;
  border-radius: 8%;
  font-size: 19px;
}

.remember {
  display: inline-flex;
}

.rememberme {
  margin-left: 21%;
  font-size: small;
}

.actions {
  margin: 30% 3% 20% 3%;
  text-align: center;
}