.passwordtitle {
    font-size: 34px;
    margin-top: 3%;
    letter-spacing: 23px;
    text-align: center;
}

.resetforms {
    display: inline-grid;
    text-align: center;
    background-color: #d4cfcf;
    margin: 2%;
    padding: 8%;
    border-radius: 8%;
}

.resetformsflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resetemail {
    text-align: justify;
    margin-top: -28%;
}

.resetsubmit {
    margin-bottom: -20%;
    margin-top: 22%;

}