
<footer>
    <div class="footer">
    <nav class="bottomnav">
        <ul>
            <li><a href="#top">Back to top</a></li>
            <li><a href="#top">About</a></li>
            <li><a href="#top">Contact</a></li>
            <li><a href="#top">Privacy</a></li>
    </nav>
    <br>
    &copy; 2019 Libu
    <br>
    </div>
</footer>