
<footer>
    <div class="footer">
    <nav class="bottomnav">
        <ul>

            <li><a href="#top">Back to top</a></li>
            <li><a href="#top">Back to top</a></li>
            <li><a href="#top">Back to top</a></li>
            <a href="#"><li><%= link_to "Privacy Policy", privacy_path %></li></a>
            
    </nav>
    <br>
    &copy; 2019 Libu
    <br>
    </div>
</footer>