<%= stylesheet_link_tag "/home/georgia/team-cool/app/assets/stylesheets/nav.scss" %>
<footer>
    <div class="footer">
    <nav class="bottomnav">
        <ul>

            <li><a href="#top">Back to top</a></li>
            <a href="#"><li><%= link_to "About", about_path %></li></a>
            <a href="#"><li><%= link_to "Contact Us", new_question_path %></li></a>
            <a href="#"><li><%= link_to "Privacy Policy", privacy_path %></li></a>
            
    </nav>
    <br>
    &copy; 2019 Libu
    <br>
    </div>
</footer>