<section class="section">
    <h1 class="title">Pricing</h1>
    <h2 class="subtitle">Choose Your Plan</h2>

    <button id="stripePayment"> Sign Up </button>
</section>

<script>
  document.getElementById("stripePayment").addEventListener("click", function() {
  var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');

  stripe.redirectToCheckout({
    sessionId: '<%= @stripe_session.id %>',
  }).then(function (result) {
    // If `redirectToCheckout` fails due to a browser or network
    // error, display the localized error message to your customer
    // using `result.error.message`.
  });

});
</script>